body{
    margin:0px;
    padding:0px;
    background-color: #161616;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
}
#projects{
    width:100%;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu{
    display:flex;

}
.menu li a{
    padding: 10px 15px;
    color:#6c707c;
    font-size: 12px;
}
.lang{
    font-size: 25px;
}
.menu li a:hover,
.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 24px;
}
.name h1{
    font-family: Poppins;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}
.profile-image{
    padding: 10% 5% 0px 5%;
}
#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family: calibri;
    width: 50%;
}
.about-text h1{
    font-size: 5rem;
    color: #17d1ac;
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color: rgba(251,251,251,0.90);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 16px;
    gap: 2rem;
}

.card{
    width: 50vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-description{
    padding: 2rem;
    display:flex;
    flex-direction: column;
    font-family: calibri;
}

.card-description h1{
    text-align: center;
    font-size: 36px;
}

.card-description p{
    text-align: left;
    font-size: 3vh;
}

.tag {
    align-self: flex-start;
    justify-content: center;
    display: inline-block;
    padding: .25em .75em;
    border-radius: 1em;
    margin: 1px 1px 1px 1px;
    background: #033eff;
    color: #fafafa;
}